




/******************************************************************
General CSS
******************************************************************/

p {
	font-family: Apud-Roman;
	line-height: 1.5em;
	color: #000000;
	font-size: 11pt;
}
h1 {
	font-family: 'Droid Serif', Apud-Black, sans-serif;
	line-height: 1.5em;
	color: #25408F;
	text-decoration: none;
	font-size: 22pt;
}
h2 {
	font-family: 'Droid Serif', Apud-BoldItalic, sans-serif;
	line-height: 1.5em;
	color: #25408F;
	text-decoration: none;
	font-size: 18pt;
}
h3 {
	font-family: 'Droid Serif',Apud-Medium, sans-serif;
	line-height: 1.5em;
	color: #25408F;
	text-decoration: none;
	font-size: 16pt;
}
h4 {
	font-family: 'Droid Serif', Apud-Medium, sans-serif;
	line-height: 1.5em;
	color: #25408F;
	text-decoration: none;
	font-size: 14pt;
}
h5 {
	font-family: 'Droid Serif', Apud-Medium, sans-serif;
	line-height: 1.5em;
	color: #25408F;
	text-decoration: none;
	font-size: 11pt;
}
h6 {
	font-family: 'Droid Serif', Apud-Medium, sans-serif;
	line-height: 1.5em;
	color: #25408F;
	text-decoration: none;
	font-size: 10pt;
}


table {
    border-collapse: collapse;
    margin: 30px 30px;
    font-size: 0.9em;
    min-width: 650px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #000000;
    color: #ffffff;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #b5b5b5;
}

.toc-list, .toc-list ol {
  list-style-type: none;
}

.toc-list {
  padding: 0;
}

.toc-list ol {
  padding-inline-start: 2ch;
}
