
.normal-table {
	width:90%;
	margin: 30px 30px;
	display:none;
}

.normal-table td {
	 padding: 5px;
}


.normal-table thead {
	border-top:1px solid;
	border-bottom:1px solid;
	border-color: #bcbcbc;
	font-weight:bold;
}

.normal-table tbody tr:last-of-type {
    border-bottom: 1px solid #bcbcbc;
}

.normal-table tbody tr:hover td:not(
[rowspan]) {background: #f3f3f3
}

.normal-table tbody tr:hover td[rowspan]:hover ~ td {
	background: none;
}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}
