@charset "utf-8";

@font-face {
    font-family: F16;
    src: url("../../waeehdashdemo/DSType - Apud-Roman.otf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
	margin:0;
	padding:0;
	width:100%;
	color:#9a9a9a;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
	padding:0;
	margin:0;
	background:#fff;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	padding:20px 0 50px 20px;
	margin:0;
	width:550px;
	float:left;
}
.logo img {
	float:left;
	margin:0 10px 0 0;
}
h1 {
	margin:0;
	padding:5px 0;
	width:300px;
	color:#2aabfc;
	font:normal 46px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#2aabfc;
	text-decoration:none;
}
h1 span {
	color:#a5a4a4;
}
h1 small {
	text-align:right;
	float:right;
	width:120px;
	color:#a5a4a4;
	display:block;
	padding:0 0 0 10px;
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Arial, Helvetica, sans-serif;
	padding:0;
	margin:5px 0;
	color:#595959;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
	text-align:right;
}
a {
	color:#2cadff;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a.rm, a.com {
	margin-left:8px;
	padding:9px 12px;
	background:repeat-x top;
	text-decoration:none;
	color:#fff;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:1300px;
}
.menu_nav {
	margin:0 auto;
	padding:0 20px;
	float:left;
	width:1230px;
	border-bottom:1px dashed #ddd;
	border-top:1px dashed #ddd;
}
.menu_nav ul {
	list-style:none;
	width:500px;
	float:left;
	padding:1px 0 0 0;
}
.menu_nav ul li {
	margin:0;
	padding:0 10px;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:12px 10px;
	color:#a5a4a4;
	text-decoration:none;
	font:normal 13px Arial, Helvetica, sans-serif;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	color:#2aabfc;
	background:top repeat-x;
	text-decoration:underline;
}

.content {
	padding:10px 0 0 0;
}
.content_resize {
	margin:0 auto;
	padding:0;
	width:1300px;
}
.content .mainbar {
	margin:0;
	float:right;
}
.content .mainbar img {
	float:right;
	padding:4px;
	margin:0 10px 0 0;
	border:1px solid #eaecec;
	background-color:#fff;
}
.content .mainbar .article {
	margin:0 0 20px 0;
	padding:30px 20px;
	width:800px;
	border:1px dashed #ddd;
}
.content .mainbar .article span.butons a {
	margin:0 5px 0 0;
	float:right;
	color:#9a9a9a;
	padding:1px 10px;
	text-decoration:none;
	border:1px solid #ebe8e8;
	background:#fbfbfc;
}
.content .mainbar .article span.butons a:hover {
	border:1px solid #d9f0ff;
	background:#40b5ff;
	color:#fff;
	text-decoration:none;
}
.content .mainbar .article span.butons a.active {
	border:1px solid #ebe8e8;
	background:#40b5ff;
	color:#fff;
	text-decoration:none;
}
.content .sidebar {
	margin:0;
	padding:0;
	float:left;
}
.content .sidebar .gadget {
	margin:0 0 20px 0;
	padding:30px 20px;
	width:230px;
	border:1px dashed #ddd;
}
.content p.links {
	background:url(images/li_a.gif) left no-repeat;
	padding:0 0 0 15px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0 4px 15px;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0 8px 15px;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#959595;
	text-decoration:none;
	margin-left:-12px;
	padding-left:15px;
	background:url(images/li_a_hover.gif) left no-repeat;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#2cadff;
	text-decoration:underline;
	background:url(images/li_a.gif) left no-repeat;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:10px 0 0 0;
}
.fbg_resize {
	margin:0 auto;
	padding:20px 20px;
	width:930px;
	border:1px dashed #eaecec;
}
.fbg h2 {
	color:#595959;
}
.fbg p {
	color:#959595;
}
.fbg a {
	color:#959595;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	background-color:#fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:300px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:260px;
}
.fbg .c1 img {
	margin:8px;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
	width:1300px;
	margin:0 auto;
	padding:40px 0;
}
.footer a {
	color:#888787;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	margin:0;
	padding:4px 0;
	float:right;
}
.footer .lr {
	margin:0;
	padding:4px 0;
	float:left;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}

.toc-list, .toc-list ol {
  list-style-type: none;
}

.toc-list {
  padding: 0;
}

.toc-list ol {
  padding-inline-start: 2ch;
}
